.container {
  width:90%;
  margin:0 auto;
  background-color:#ccc;  
  column-count:1;
  text-align: justify;
  padding:1rem;
}

@media (min-width: 768px) {
  .container {
    column-count:2;	  
    max-width:720px;
    font-size:1.20rem;	
  }
}


@media (min-width: 1200px) {
  .container {
    column-count:3;	  	  
    max-width:1140px;
    font-size:1.40rem;
  }
}