.titulosecundario{
  background-color:#ffffcc;
  text-align:center;
  font-family:verdana;
  font-size:40px;

  border-top-width:2px;
  border-bottom-width:2px;
  border-right-width:0px;
  border-left-width:0px;

  border-top-style:dotted;
  border-bottom-style:dotted;

  border-top-color:#ff0000;
  border-bottom-color:#ff0000;
}